extends base.pug

block scripts 
    script(src="/statis/index.js") 

block style     
    style 
        include ../static/style.css

block content 

    section#introSection 
        div Welcome to Harsh's Dance Academy 
        div.small Eat Sleep Dance Repeat 

    section#missionSection

        h2 Our Missions 

        div.card 

            h3 Dance Perfection

            div.card-box 
                div.card-img 
                    img(src="/static/image/c1.png", alt="")
                div.card-content 
                    p This is the best Dance Academy of the Universe 

        div.card 

            h3 Dance the way you like 

            div.card-box 
                div.card-img 
                    img(src="/static/image/c2.png", alt="")
                div.card-content 
                    p This is the best Dance Academy of the Universe  

        div.card 

            h3 Expert Teaching 

            div.card-box 
                div.card-img 
                    img(src="/static/image/c3.png", alt="")
                div.card-content 
                    p This is the best Dance Academy of the Universe 

    section#sponsorsSection 

        h2    Our Sponsors 

        div#sponsors 
            img(src="/static/image/logo1.png", alt="sponsor image", class="spimage")
            img(src="/static/image/logo2.png", alt="sponsor image", class="spimage")
            img(src="/static/image/logo3.png", alt="sponsor image", class="spimage")
            img(src="/static/image/logo4.png", alt="sponsor image", class="spimage")